.hourly__weather, .details {
  position: absolute;
  width: 10rem;
  height: 85vh;
  background-color: white;
  border-radius: 20px 0 0 20px;
  right: -5rem;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: -20px 9px 16px -8px rgb(15 15 15 / 16%);
  @include hidden;
  transition: right 0.25s, opacity 0.25s, z-index 0.25s, visibility 0.25s;

  svg {
    width: 100%;
  }
}

.descr__icon {
  width: 10rem;

  img {
    width: 100%;
  }
}

.hourly__weather--active, {
  right: 0;
  z-index: 2;
  @include visible;
  transition: right 0.30s, opacity 0.3s, z-index 0.3s, visibility 0.3s;
}

.hourly__weather--list, .details__list {
  padding-top: 3rem;
  display: grid;
  height: 100%;
  grid-template: repeat(6, 1fr) / 1fr;
}

.hourly__weather--item {
  text-align: center;
  @include between;
  flex-direction: column;
  padding: 1.2rem 0;
}

.hourly__weather--icon {
  margin: 8px 0;
}

.details {
  border-radius: 0 20px 20px 0;
  height: 65vh;
  right: auto;
  left: -5rem;
  box-shadow: -20px 9px 16px -8px rgb(15 15 15 / 16%);
  transition: left 0.25s, opacity 0.25s, z-index 0.25s, visibility 0.25s;
}

.details__menu--active {
  z-index: 2;
  left: 0;
  right: auto;
  visibility: visible;
  opacity: 1;
  box-shadow: 20px 9px 16px -8px rgba(15, 15, 15, 0.16);
  transition: left 0.3s, opacity 0.3s, z-index 0.3s, visibility 0.3s;
}

.details__list {
  padding-top: 5rem;
  justify-items: center;
  align-items: center;
}

.details__item {
  padding: 1.5rem 0;
  text-align: center;

  svg {
    width: 100%;
  }
}

.details__item--title {
  font-size: 0.75rem;
  color: #616161;
  margin-bottom: 5px;
}

.details__item--value {
  font-size: 1.12rem;
}

.arrow {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  cursor: pointer;
}

.details__button {
  top: 2.5rem;
}

.app__shadow {
  transition: all 0.2s;
  cursor: pointer;
}

//.app__shadow--on {
//  background-color: #0000001c;
//  filter: blur(3px);
//  transition: all 0.2s;
//}