.search__container {
  background-color: white;
  width: 30rem;
  height: 8rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @include center;
  @include hidden;
  box-shadow: 0px 20px 16px -8px rgba(15, 15, 15, 0.16);
  border-radius: 20px;
  z-index: 2;
  transition: top 0.15s ease-out, opacity 0.15s ease-out, z-index 0.15s ease-out, visibility 0.15s ease-out;
}

.search__arrow {
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    border-radius: 100px;
    top: 10rem;
    background-color: white;
    @include center;
    transform: rotate(180deg);
  }

.search--active {
  top: 6vh;
  @include visible;
  transition: top 0.2s ease-out, opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.button__wrapper {
  @include center;
}

.search {
  grid-column: 3/4;
  grid-row: 2/3;
  position: relative;
  display: flex;
  align-items: center;
}

.search__input {
  width: 26.4rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 3.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #FFFFFF;
  background: none;
  font-family: inherit;
  color: #9baacf;

  &::placeholder {
    color: #c8d0e7;
  }
}

.search__icon {
  height: 2rem;
  position: absolute;
  font-size: 2rem;
  padding: 0 1rem;
  display: flex;
  color: #c8d0e7;
  transition: .3s ease;
}

.search__arrow--active {
  transform: rotate(0deg);
  transition: transform 0.2s .2s;
  //@include unselectable;
}

