html {
  font-family: "Nekst", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 0.5208333333vw;
}
@media (max-width: 768px) {
  html {
    font-size: 2.9333333333vw;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
}

@font-face {
  font-family: "Nekst";
  font-weight: 100;
  src: url("../resources/fonts/Nekst-Thin.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nekst";
  font-weight: 500;
  src: url("../resources/fonts/Nekst-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nekst";
  font-weight: 300;
  src: url("../resources/fonts/Nekst-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nekst";
  font-weight: 200;
  src: url("../resources/fonts/Nekst-Light.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nekst";
  font-weight: 400;
  src: url("../resources/fonts/Nekst-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nekst";
  font-weight: 600;
  src: url("../resources/fonts/Nekst-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nekst";
  font-weight: 700;
  src: url("../resources/fonts/Nekst-Black.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 32rem;
  margin: 0 auto;
  padding: 7rem 3rem 13rem;
}
.app svg {
  width: 100%;
}

.settings__panel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__buttons {
  width: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choose {
  margin-left: 5px;
}

.location__geo {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.location__descr {
  font-size: 0.62rem;
  font-weight: 300;
}

.content__box {
  margin-top: 5rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.insync {
  font-size: 0.6rem;
  color: #616161;
}

#date {
  font-size: 2rem;
}

#avg__temp {
  font-size: 6rem;
}

.temp__container {
  width: 12.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.min__temp, .max__temp, .sun__up, .sun__down {
  display: flex;
  font-size: 1.12rem;
  color: #616161;
  align-items: center;
}
.min__temp p, .max__temp p, .sun__up p, .sun__down p {
  margin-left: 5px;
}

.descr__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.descr__container p {
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: center;
  color: #616161;
}

.sun__status {
  width: 17rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly__weather, .details {
  position: absolute;
  width: 10rem;
  height: 85vh;
  background-color: white;
  border-radius: 20px 0 0 20px;
  right: -5rem;
  top: 50%;
  transform: translate(5rem, -50%);
  box-shadow: -20px 9px 16px -8px rgba(15, 15, 15, 0.16);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: transform 0.15s ease-out, opacity 0.15s ease-out, z-index 0.15s ease-out, visibility 0.15s ease-out;
}
.hourly__weather svg, .details svg {
  width: 100%;
}

.descr__icon {
  width: 10rem;
}
.descr__icon img {
  width: 100%;
}

.hourly__weather--active {
  right: 0;
  transform: translate(0, -50%);
  z-index: 2;
  opacity: 1;
  visibility: visible;
  z-index: 2;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out, z-index 0.15s ease-out, visibility 0.15s ease-out;
}

.hourly__weather--list, .details__list {
  padding-top: 3rem;
  display: grid;
  height: 100%;
  grid-template: repeat(6, 1fr)/1fr;
}

.hourly__weather--item {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem 0;
}

.hourly__weather--icon {
  margin: 8px 0;
}

.details {
  border-radius: 0 20px 20px 0;
  height: 65vh;
  right: auto;
  left: 0;
  transform: translate(-10rem, -50%);
  box-shadow: -20px 9px 16px -8px rgba(15, 15, 15, 0.16);
  transition: transform 0.15s ease-out, opacity 0.15s ease-out, z-index 0.15s ease-out, visibility 0.15s ease-out;
}

.details__menu--active {
  z-index: 2;
  left: 0;
  right: auto;
  visibility: visible;
  transform: translate(0, -50%);
  opacity: 1;
  box-shadow: 20px 9px 16px -8px rgba(15, 15, 15, 0.16);
  transition: transform 0.25s ease-out, opacity 0.25s ease-out, z-index 0.15s ease-out, visibility 0.15s ease-out;
}

.details__list {
  padding-top: 5rem;
  justify-items: center;
  align-items: center;
}

.details__item {
  padding: 1.5rem 0;
  text-align: center;
}
.details__item svg {
  width: 100%;
}

.details__item--title {
  font-size: 0.75rem;
  color: #616161;
  margin-bottom: 5px;
}

.details__item--value {
  font-size: 1.12rem;
}

.arrow {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  cursor: pointer;
}

.details__button {
  top: 2.5rem;
}

.app__shadow {
  transition: all 0.2s;
  cursor: pointer;
}

.app__shadow--on {
  background-color: rgba(0, 0, 0, 0.1098039216);
  filter: blur(3px);
  transition: all 0.2s;
}

.search__container {
  background-color: white;
  width: 30rem;
  height: 8rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -13rem);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  box-shadow: 0px 20px 16px -8px rgba(15, 15, 15, 0.16);
  border-radius: 20px;
  z-index: 2;
  transition: tranform 0.25s, opacity 0.25s, z-index 0.15s, visibility 0.15s;
}

.search__arrow {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  border-radius: 100px;
  top: 10rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  transition: transform 0.2s 0.2s;
}

.search--active {
  transform: translate(-50%, 3rem);
  opacity: 1;
  visibility: visible;
  z-index: 2;
  transition: transform 0.3s, opacity 0.3s, visibility 0.13s;
}

.button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  grid-column: 3/4;
  grid-row: 2/3;
  position: relative;
  display: flex;
  align-items: center;
}

.search__input {
  width: 26.4rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 3.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #FFFFFF;
  background: none;
  font-family: inherit;
  color: #9baacf;
}
.search__input::placeholder {
  color: #c8d0e7;
}

.search__icon {
  height: 2rem;
  position: absolute;
  font-size: 2rem;
  padding: 0 1rem;
  display: flex;
  color: #c8d0e7;
  transition: 0.3s ease;
}

.search__arrow--active {
  transform: rotate(0deg);
  transition: transform 0.2s 0.2s;
}

/*# sourceMappingURL=style.css.map */
